.form-control{
  width: 100%;
  color: #48555B;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  max-width:100%;
  padding: 0.5rem 0.75rem 0.375rem;
}
.text-muted{
  color: #33333380!important;
  opacity: 0.5;
  line-height: 29px;
  font-size: 14px!important;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  margin-right: 50px;
}
