@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans"), url(~assets/scss/fonts/OpenSans/OpenSans-Regular.ttf);
  font-weight: 400;
}



@font-face {
  font-family: 'OpenSans';
  src: local("OpenSans"), url(~assets/scss/fonts/OpenSans/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Banny';
  src: local("Banny"), url(~assets/scss/fonts/Banny/Banny-Round.ttf);
  font-weight: 600;
}
